language: python
python:
  - 3.5
  - 3.6

cache:
  directories:
    - $HOME/.cache/pip

before_install:
  - pip install codecov

install:
  - pip install -r requirements-dev.txt

script:
  - isort --check
  - flake8
  - py.test -v tests/ --cov --cov-report=xml
  - behave

after_success:
  - codecov

deploy:
  provider: pypi
  user: renanivo
  distributions: sdist bdist_wheel
  password:
    secure: F0RvLPFkHrvYXUh7wRByQgj8IW9mPa1RRODOYYmChkomNEsJNf3lacPwFiTcmilKdB1KGs93QodbqbQ23wPSyG6ChhGGvMJHMIDDpgo/vpRuYM8LxYkCJvV9tqv0dVzwhwfPothEvUZe+xLlYFvpaAwo2zod676Zhwi1MADhNrc=
  on:
    tags: true
    repo: renanivo/with
